<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moim.somoimmng.sch.mapper.SchMapper">

    <!-- 일정 목록 조회 -->
    <select id="selectSmiSche" parameterType="paramMap" resultType="camelMap">
        SELECT SCH_SEQ
             , SCH_NM
             , CONCAT(SCH_DATE, SCH_TIME) SCH_DATE
             , SCH_CNT
             , SCH_LOC
        FROM SMI_SCHE ss
        ORDER BY SCH_DATE DESC, SCH_TIME DESC
    </select>

    <!-- 일정 조회 -->
    <select id="selectSmiScheDetail" parameterType="paramMap" resultType="camelMap">
        SELECT SCH_NM
             , SCH_DATE
             , SCH_TIME
             , SCH_CNT
             , SCH_LOC
        FROM SMI_SCHE ss
        WHERE SCH_SEQ = #{schSeq}
    </select>

    <!-- 참여인원 조회 -->
    <select id="selectAtnMemList" parameterType="paramMap"  resultType="camelMap">
        SELECT mm.MEM_SEQ
             , mm.USER_NM
             , mm.AGE
             , mm.LOC
        FROM SMI_ATN_MNG sam
                 LEFT OUTER JOIN MEM_MNG mm ON sam.MEM_SEQ = mm.MEM_SEQ
        WHERE SCH_SEQ = #{schSeq}
        ORDER BY mm.MEM_SEQ
    </select>

    <!-- 소모임 일정 등록 -->
    <insert id="insertSmiSche" parameterType="paramMap" useGeneratedKeys="true" keyProperty="schSeq" keyColumn="SCH_SEQ">
        INSERT
        INTO
            SMI_SCHE
        (
            SMI_SEQ
        , SCH_NM
        , SCH_DATE
        , SCH_TIME
        , SCH_CNT
        , SCH_LOC
        )
        VALUES(
                  #{smiSeq}
              , #{schNm}
              , #{schDate}
              , #{schTime}
              , #{schCnt}
              , #{schLoc}
              )
    </insert>

    <!-- 소모임 일정 수정 -->
    <update id="updateSmiSche" parameterType="paramMap">
        UPDATE
            somoim.SMI_SCHE
        SET
            SMI_SEQ = #{smiSeq}
          , SCH_NM = #{schNm}
          , SCH_DATE = #{schDate}
          , SCH_TIME = #{schTime}
          , SCH_CNT = #{schCnt}
          , SCH_LOC = #{schLoc}
          , FRST_WRT_DTIM = CURRENT_TIMESTAMP
          , LAST_CHNG_DTIM = CURRENT_TIMESTAMP
        WHERE
            SCH_SEQ = #{schSeq}

    </update>

    <!-- 소모임 일정 삭제 -->
    <delete id="deleteSmiSche" parameterType="paramMap">
        DELETE
        FROM SMI_SCHE
        WHERE SCH_SEQ = #{schSeq}
    </delete>

    <!-- 참석회원 등록 -->
    <insert id="insertSmiAtnMng" parameterType="paramMap">
        INSERT
        INTO
            somoim.SMI_ATN_MNG
        (
          MEM_SEQ
        , SCH_SEQ
        )
        VALUES
        <foreach collection="memList" item="item" separator=",">
            (
            #{item.seq}
            , #{schSeq}
            )
        </foreach>

    </insert>

    <!-- 참석회원 삭제 -->
    <delete id="deleteSmiAtnMng" parameterType="paramMap">
        DELETE
        FROM SMI_ATN_MNG
        WHERE SCH_SEQ = #{schSeq}
    </delete>
</mapper>