<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.site.somoimmng.loc.mapper.LocMapper">
    <!-- 캘린더 일정 조회 -->
    <select id="selectMapStoreList" parameterType="paramMap" resultType="camelMap">
        SELECT
            ss2.SCH_SEQ
             , ss2.STORE_SEQ
             , ss2.CATEGORY_NAME
             , ss2.STORE_NAME
             , ss2.ADDRESS_NAME
             , ss2.ROAD_ADDRESS_NAME
             , ss2.ADDRESS_DETAIL
             , ss2.LNG
             , ss2.LAT
             , ss2.FRST_WRT_DTIM
             , ss2.LAST_CHNG_DTIM
        FROM SMI_SCHE ss
                 INNER JOIN SCH_STORE ss2
        WHERE ss.SMI_SEQ = 1
          AND ss.SCH_SEQ = ss2.SCH_SEQ
          AND LAT BETWEEN #{bfLat} AND #{afLat}
          AND LNG BETWEEN #{bfLng} AND #{afLng}
    </select>
</mapper>