<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.site.bible.bib.mapper.BibMapper">
    <!-- 성경조회 -->
    <select id="selectBibVers" parameterType="paramMap" resultType="camelMap">
        SELECT cc.CD_NM
        , cbc.BIB_CHPT
        , cbc.BIB_VERS
        , cbc.BIB_MAIN
        FROM CMN_BIB_CNTN cbc
        LEFT JOIN CMN_CMCD cc ON cbc.BIB_WRD_DIV = cc.CD
        WHERE cc.CD_NM = #{mainNm}
        AND CONCAT(LPAD(cbc.BIB_CHPT,'3', '0'), LPAD(cbc.BIB_VERS, '3', '0')) <![CDATA[>=]]> CONCAT(LPAD(#{stChpt},'3', '0'), LPAD(#{stVers}, '3', '0'))
        AND CONCAT(LPAD(cbc.BIB_CHPT,'3', '0'), LPAD(cbc.BIB_VERS, '3', '0')) <![CDATA[<=]]> CONCAT(LPAD(#{endChpt},'3', '0'), LPAD(#{endVers}, '3', '0'))
        ORDER BY cbc.BIB_CHPT*1, cbc.BIB_VERS*1
    </select>

    <!-- 성경 말씀 조회 -->
    <select id="selectBibMain" parameterType="paramMap" resultType="camelMap">
        SELECT GRP_CD_NM
             , CD_NM
        FROM CMN_CMCD cc
        WHERE GRP_CD_ID IN ('BIB_ORD', 'BIB_NEW')
    </select>

</mapper>