<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.site.somoimmng.login.mapper.LoginMapper">
    <insert id="insertUserMng" parameterType="paramMap">
        INSERT
        INTO
            somoim.USER_MNG
        (
          USER_ID
        , USER_PW
        , USER_NM
        , AGE
        , GENDER
        , LOC
        , PHONE
        , EMAIL
        , DEL_YN
        )
        VALUES(
                #{userId}
              , #{userPw}
              , #{userNm}
              , #{age}
              , #{gender}
              , #{loc}
              , #{phone}
              , #{email}
              , 'N'
              );
    </insert>

    <select id="getUserDuplicate" parameterType="paramMap" resultType="int">
        SELECT
            count(*)
        FROM
            USER_MNG
        WHERE
            USER_ID = #{userId}
    </select>

    <select id="getUserMng" parameterType="paramMap" resultType="camelMap">
        SELECT
            USER_SEQ
             , USER_ID
             , USER_PW
             , USER_NM
             , AGE
             , GENDER
             , LOC
             , PHONE
             , EMAIL
             , DEL_YN
             , FRST_WRT_DTIM
             , LAST_CHNG_DTIM
        FROM
            USER_MNG
        WHERE
            USER_ID = #{userId}
    </select>

    <insert id="insertSmiMng" parameterType="paramMap" useGeneratedKeys="true" keyProperty="smiSeq" keyColumn="SMI_SEQ">
        INSERT
        INTO
            SMI_MNG
        (
          SMI_NM
        , CENT_AREA
        , SMI_RMRK
        , DEL_YN
        )
        VALUES(
                #{smiNm}
              , #{centArea}
              , #{smiRmrk}
              , 'N'
              );
    </insert>

    <insert id="insertUserSmiMap" parameterType="paramMap">
        INSERT
        INTO
            USER_SMI_MAP
        (
          SMI_SEQ
        , USER_SEQ
        )
        VALUES(
                #{smiSeq}
              , #{userSeq}
              )
    </insert>

    <select id="selectSomoim" parameterType="paramMap" resultType="camelMap">
        SELECT
            sm.SMI_SEQ
             , sm.SMI_NM
             , sm.CENT_AREA
             , sm.SMI_RMRK
        FROM SMI_MNG sm
                 JOIN USER_SMI_MAP usm ON sm.SMI_SEQ = usm.SMI_SEQ
        WHERE usm.USER_SEQ = #{userSeq}
    </select>
</mapper>